package.json
package-lock.json
yarn.lock
tsconfig.json
tsconfig.app.json
tsconfig.spec.json
ionic.config.json
ionic.starter.json
angular.json

dist
www
coverage
dist
node_modules
platforms
plugins
resources